ñ/* Globals */
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 800px;
  margin: auto;
  color: white;
}
h1 {
  font-size: 36px;
  text-align: center;
  padding: 20px;
}
h2 {
  font-size: 14px;
}
h3 {
  margin: 0;
  padding: 20px;
}

header {
  width: 100%;
}

main {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.about {
  background-color: #7299fe;
}
.about h2 {
  color: #1d06a7;
}
.skills {
  background-color: #9122ff;
}
.skills h2 {
  color: #26cc4b;
  text-align: center;
}

.portfolio {
  background-color: #ffd233;
}
.portfolio h2 {
  color: #00ad84;
}

.customers {
  background-color: #3f4e62;
}
.customers h2 {
  color: #adff28;
}

.contacts {
  background-color: #1687a0;
  margin: auto
}
.contacts h2 {
  color: #ff1b1b;
}
.contacts input {
  padding: 10px;
  margin: 5px;
}
